<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<div data-behavior="messages">
    <% @team.messages.limit(100).each do |message| %>
        <div><strong><%= message.user.username %>:</strong> <%= message.body %></div>
    <% end %>

    <%= form_for [@team, Message.new] do |f| %>
        <%= f.text_area :body, rows: 1, class: "form-control", autofocus: "true" %>
    <% end %>
</div>
